// globals
@import '../../vendor/github/necolas/normalize.css@3.0.3/normalize.css';
@import './globals/variables.scss';
@import './globals/fonts.scss';
@import './globals/animations.scss';

// components

// routes
@import '../../app/forgot-password/forget-password.scss';
@import '../../app/lock-screen/lock-screen';
@import '../../app/login/login';
@import '../../app/register/register';
@import '../../app/root/root';
@import '../../app/unsubscribe/unsubscribe';
@import '../../app/view-email/view-email';

// root routes
@import '../../app/root/dashboard/dashboard';

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.root {
  padding: 40px;
}