<template>
    <div>
        <a href="" click.trigger="manager.openAll()">Open all</a>
        <a href="" click.trigger="manager.closeAll()">Close All</a>
        <div repeat.for="item of manager.toggles">
            <div>
                <h3><a href="" click.trigger="$parent.manager.toggle(item)">Item ${item.data.title}</a></h3>
                <div show.bind="item.isOpen">
                    ${item.data.title} <br/>
                    <compose if.bind="item.data.viewModel" view-model="${item.data.viewModel}"></compose>
                </div>
            </div>
        </div>
    </div>
</template>