.accordion {
  margin-bottom: 5px;

  a {
    display: block;
    padding: 5px;
    background-color: #fafafa;
    width: 100%;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      font-weight: bold;
      margin-right: 10px;
    }
  }

  .accordion-content {
    padding: 10px;
  }
}